Flask
Flask-RESTful
Flask-PyMongo
mongoengine
pymongo~=3.10.1
pytest~=7.4.0
python-dotenv
torch
torchvision
matplotlib~=3.7.1
Pillow
jsonschema~=4.19.0
Flask-Cors
passlib~=1.7.4
fonttools
pandas~=2.1.4
pyproj~=3.6.1
fiona~=1.9.5
geopandas~=0.14.2