Flask~=2.3.3
Flask-RESTful
Flask-PyMongo
mongoengine
pymongo~=3.10.1
pytest~=7.4.0
python-dotenv
torch~=2.0.1
torchvision~=0.15.2
matplotlib~=3.7.1
Pillow~=9.5.0
jsonschema~=4.19.0

passlib~=1.7.4
fonttools~=4.39.4